*{
	margin:0;
	padding:0;
}

html{
	background-color:#414141;
}
body {
	overflow: hidden;
}
 ul {
	list-style: none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, section {
	display: block;
}
a{
	text-decoration:none;
}

.header,.navbar-default{
	background-color:#FFCC00;
}	

.navbar-header a,.navbar-nav li{
 font-size:  1.5em;
 transition:0.4s;
}

.round-head{
	position:fixed;
	top:10%;
	color:white;
	padding-left: 20px;
}

.wrapper div {
	position: absolute;
}

.content{
	text-align:center;
}
.content p{
	color:white;
}
.content h3{
	color:#ffffcc;
}
.button{
	background-color:#ff3300;
	transition:0.4s;
	color:white;
	border:none;
}

.button:hover{
	background-color:#FFCC00;
}

.next-round{
	color:#ff3300;
	transition:0.4s;
	text-decoration:none;
}

.next-round:hover{
	color:#FFCC00;
	text-decoration:none;
}

.button,.levelList li a{
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

/*******   level list   *******/
.levelList {
	position: fixed;
	bottom: 2%;
	font-size: 20px;
	left: 0;
}
.levelList li {
	float: left;
}
.levelList a {
	display: block;
	width: 40px;
	height: 40px;
	line-height: 35px;
	margin-left: 10px;
	border: 2px solid white;
	border-radius: 50%;
	text-align: center;
	transition: 0.25s;
	text-decoration:none;
	color:white;
}
.levelList a:hover {
	//background: rgba(15,15,15, 0.5);
	border: 2px solid #ffcc00;
	color: #ffcc00;
}
/*******************************/

.footer {
	vertical-align:middle;
	position:fixed;
	bottom:35%;
	right: 20px;;
}
@media screen and (max-width:760px){
	.footer{
		bottom:5%;
	}
}	
.footer li  {
	margin-bottom:50%;
}
.footer li a{
	font-size:25px;
	color:#666699;
	display:block;
	transition:0.25s;
}
.footer  li   a:hover {
 color:#F93B00;
}
/********* footer end ************/
.sp-canvas {
	display: none;
}

.question-1 { 
	width:800px;
	text-align:center;
	top: -50px;
}

.question-2 {
	top: 740px;
	left: 180px;
	width: 440px;
}

.question-3 {
	top: 1510px;
	left: 430px;
	width: 400px;
}

.question-4 {
	top: 1540px;
	left: 1600px;
	width: 400px;
}

.question-5 {
	left: 2185px;
	top: 660px;
	width: 460px;
	transform: rotate(-90deg) translateY(2.5em);
}

.question-6 {
	left: 2200px;
	top: -800px;
	width: 400px;
	transform: rotate(90deg) translateX(50px);
}

.question-7 {
	width: 475px;
	left: 1100px;
	top: -950px;
	transform: rotate(90deg) translateX(50px);
}
.next-round {
	position: absolute;
	display: none;
	text-align: center;
	left: 490px;
	top: -700px;
	width: 475px;
	font-size: 40px;
	transform: rotate(90deg) translateX(50px);
	
}

.instru-list{
	padding-left:4%;
}